.icon-row{
  height:120px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.icon-row__column{
  width:25%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-row__column i{
  font-size:25px;
}

.icon-row__column span{
  text-align: center;
  padding-top: 20px;
}

.icon-row-suggestion-img{
  width:50px;
  height:50px;
  border-radius: 10px;
  border:1px solid #e0e0e0;
}